<% set_meta_tags  title: t('.title'),
                  noindex: true,
                  canonical: new_session_url %>

<% content_for :page_header do %>
  <h1><%= t '.login' %></h1>
<% end %>
<div class='row'>
  <div class='span5'>
  <p><%= link_to t('.forgotten_password'), new_password_reset_path %></p>
  <%= form_tag sessions_url, html: {class: "form-inline"} do %>
    <div class="control-group email optional">
      <div class="controls">
          <div class="input-prepend">
            <span class="add-on"><i class="icon-envelope"></i></span>
            <%= email_field_tag :email, params[:email], class: "string email",
              placeholder: I18n.t('activerecord.attributes.user.email') %>
          </div>
      </div>
    </div>
    <div class="control-group password">
      <div class="controls">
        <div class="input-prepend">
          <span class="add-on"><i class="icon-lock"></i></span>
          <%= password_field_tag :password, params[:password], class: "password",
            placeholder: I18n.t('activerecord.attributes.user.password') %>
        </div>
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <%= label_tag :remember_me, class: "checkbox" do %>
          <%= check_box_tag :remember_me, 1, params[:remember_me] %>
          مرا به خاطر بسپار
        <% end %>
        <%= submit_tag t('.login'), class: "btn btn-primary", data: { disable_with: t('view.disable_with') } %>

      </div>
    </div>
  <% end %>
  </div>

  <div class='span7'>
    <p><%=t '.openid_login' %></p>
    <%= render 'identities/identities_list' %>
  </div>
</div>
