<!-- cache status of Story -->
<% status = hide_comment?(comment) %>
<div class="comment <%= "grey-out" if status %>" id="comment_<%= comment.id %>">
  <div>
    <%= image_tag avatar_url(comment, 32), class: 'pull-right img-polaroid clearfix' %>
  </div>

  <div class="main">

    <span class='owner'>

      <% if comment.user_id.nil? %>
        <%= comment.name %>
      <% else %>
        <%= link_to comment.name, user_path(comment.user) %>
      <% end %>

      <% if comment.parent.present? %>
        <small class='muted'>
        <i class='icon-arrow-left'></i>
        در جواب
        <%= comment.parent.name %>
      </small>
      <% end %>

    </span>

    <h5 class="muted">
      <small>
        <span>
          <i class='icon-calendar'></i>
            <%= link_to story_path(comment.story, :anchor => "comment_#{comment.id}") do %>
            <%= time_ago_in_words(comment.created_at).to_farsi + ' قبل' %>
            <% end %>
        </span>
        <% if comment.website.present? %>
          <i class='icon-link'></i>
          <%= link_to 'وب‌سایت', comment.website %>
        <% end %>
      </small>
    </h5>

    <div>
      <p>
        <%= sanitize(RedCloth.new(comment.content, [:filter_html, :filter_styles]).to_html) %>
      </p>
    </div>

    <div class='row'>
      <% if can? :create, Vote %>
        <div id='voting-buttons-<%= comment.id %>' class='span1 pull-right'>
          <%= render 'comments/voting_buttons', comment: comment %>
        </div>
      <% end %>
      <!-- <h5 class="muted"> -->
        <div class='span3 thumbs-up-list' id='thumbs-up-list-<%= comment.id %>'>
          <ul>
            <% Rating.positive('comments').each do |rating| %>
              <li class='icon-hand-left'>
                <%= link_to rating.name, story_comment_votes_path(comment.story, comment, rating_id: rating, positive: true),
                  method: :post, remote: true %>
              </li>
            <% end %>
          </ul>
        </div>

        <div class='span3 thumbs-down-list' id='thumbs-down-list-<%= comment.id %>'>
          <ul>
            <% Rating.negative('comments').each do |rating| %>
              <li class='icon-hand-left'>
                <%= link_to rating.name, story_comment_votes_path(comment.story, comment, rating_id: rating), method: :post, remote: true %>
              </li>
            <% end %>
          </ul>
        </div>

        <div class='pull-left'>
          <small>
            <%= link_to t('.reply', :default => t("helpers.links.reply")),
            new_story_comment_path(comment.story, parent_id: comment), remote: true %>

            <% if can? :update, comment %>
              <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_story_comment_path(comment.story, comment) %>
            <% end %>

            <% if can? :destroy, comment %>
              <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                [comment.story, comment], :method => :delete,
                :confirm => t('.confirm', :default => t("helpers.links.confirm",
                  :default => 'Are you sure?')) %>
            <% end %>
          </small>
        </div>
    </div>

  </div>
</div>
