<% content_for :page_header do %>
  <h1><%=t '.title', :default => "مدیریت پیام‌ها" %></h1>
<% end %>

<ul class='nav nav-tabs'>
  <li id='comments_li' class='active'>
    <%= link_to 'دیدگاه‌ها', comments_path, remote: true %>
  </li>

  <li id='spams_li'>
    <%= link_to "اسپم‌ها(#{Comment.unapproved.size.to_farsi})", comments_spams_path, remote: true %>
  </li>

</ul>
<div id='comments-body'>
  <%= render partial: 'short_comment' %>
</div>
<%= paginate @comments %>
