<% content_for :page_header do %>
  <h1><%= t('.header', name: @application.name) %></h1>
<% end %>

<div class='row'>
  <div class="span9">
    <h4>آدرس بازگشتی (Callback url):</h4>
    <p><code id="callback_url"><%= @application.redirect_uri %></code></p>

    <h4>شناسه برنامه (Application Id):</h4>
    <p><code id="application_id"><%= @application.uid %></code></p>

    <h4>رمز (Secret):</h4>
    <p><code id="secret"><%= @application.secret %></code></p>

    <h4>پیوند به تایید هویت:</h4>
    <p><%= link_to 'تایید هویت', oauth_authorization_path(:client_id => @application.uid, :redirect_uri => @application.redirect_uri, :response_type => 'token' ) %></p>
  </div>

  <div class="span3">
    <h3>کنش‌ها</h3>
    <p><%= link_to 'فهرست همه برنامه‌ها', oauth_applications_path %></p>
    <p><%= link_to 'ویرایش', edit_oauth_application_path(@application) %></p>
    <p><%= link_to 'حذف', oauth_application_path(@application), method: :delete, data: { :confirm => t('.confirm', :default => t("helpers.links.confirm", } %></p>

  </div>
</div>
