<%= simple_form_for @user, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :full_name %>
  <%= f.input :email %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>
  <div class="form-actions">
    <%= f.button :submit, t('.submit'), :class => 'btn-primary' %>
  </div>
<% end %>
