<%= simple_form_for @user, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :full_name, :wrapper => :prepend do %>
    <span class="add-on"><i class="icon-user"></i></span>
      <%= f.input_field :full_name %>
  <% end %>

  <%= f.input :email, :wrapper => :prepend do %>
    <span class="add-on"><i class="icon-envelope"></i></span>
    <%= f.input_field :email %>
  <% end %>

  <%= f.input :email_visibility, :as => :radio_buttons, label: 'نمایش ایمیل در پروفایل؟' %>

  <%= f.input :website, :wrapper => :prepend do %>
    <span class="add-on"><i class="icon-th"></i></span>
    <%= f.input_field :website %>
  <% end %>

  <%= f.input :favorite_tags, input_html: {class: "span3"} %>

  <% if can? :edit, Role %>
    <%= f.association :roles, :as => :radio_buttons, :checked => @user.role_ids %>
  <% end %>

  <div class="form-actions">
    <%= f.button :submit, t('.submit'), class: 'btn-primary', data: { disable_with: t('view.disable_with') } %>
    <%= link_to t("helpers.links.cancel"), :back, name: 'cancel', class: 'btn', confirm: t('.confirm') %>
  </div>

<% end %>
