<%= simple_form_for @user, html: {class: "form-inline"} do |f| %>
  <%= f.input :full_name, :wrapper => :prepend, label: false do %>
    <span class="add-on"><i class="icon-user"></i></span>
      <%= f.input_field :full_name, placeholder: I18n.t('activerecord.attributes.user.full_name') %>
  <% end %>

  <%= f.input :email, :wrapper => :prepend, label: false do %>
    <span class="add-on"><i class="icon-envelope"></i></span>
    <%= f.input_field :email, placeholder: I18n.t('activerecord.attributes.user.email') %>
  <% end %>

  <%= f.button :submit, t('.submit'), class: "btn-primary", data: { disable_with: t('view.disable_with') } %>
  <%= f.submit t("helpers.links.cancel"), name: 'cancel', class: 'btn' %>
<% end %>
