<%- model_class = User.new.class -%>
<div class="page-header">
  <%= link_to t('.new', :default => t("helpers.links.new")),
            new_user_path,
            :class => 'pull-left btn btn-primary' %>
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>

<div class = 'row'>
  <%= form_tag users_path, remote: true, method: :get, class: 'form-search' do %>
    <%= text_field_tag :user_search, params[:user_search], class: "span2 search-query", placeholder: t(".search") %>
  <% end %>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:full_name) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody id='users-row'>
  <%= render @users %>
  </tbody>
</table>
<%= paginate @users %>