<% set_meta_tags  title: [t('users.title'), t('.title')],
                  noindex: true %>
<%- model_class = User.new.class -%>
<% content_for :page_header do %>
  <h1>
    <%= link_to t('.new', :default => t("helpers.links.new")), new_user_path, class: 'btn btn-large btn-success pull-left' %>
    <%=t '.title', :default => model_class.model_name.human %>
  </h1>
<% end %>

<div class = 'row'>
  <%= form_tag users_path, remote: true, method: :get, class: 'form-search' do %>
    <%= text_field_tag :user_search, params[:user_search], class: "span2 search-query", placeholder: t(".search") %>
  <% end %>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:full_name) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody id='users-row'>
  <%= render @users %>
  </tbody>
</table>
<%= paginate @users %>