<%- model_class = @user.class -%>
<% content_for :page_header do %>
  <h1><%= t '.register' %></h1>
<% end %>

<div class='row'>
  <% if session[:authhash].present? %>
    <div class = 'well'>
      <p class='alert alert-info'>
        <%=t '.caution' %>
      </p>
      <p><%=t '.notice_openid' %></p>
      <div class='row'>
        <div class='span1'>
          <%= image_tag "#{session[:authhash][:provider]}_64.png", :size => "64x64" %>
        </div>
        <div class='span5'>
          <p class="small">
            <b><%= t('activerecord.attributes.identities.provider') %>:</b>
             <%= session[:authhash][:provider] %><br />
            <b><%= t('activerecord.attributes.identities.uid') %>:</b>
            <%= session[:authhash][:uid] %><br />
            <b><%= t('activerecord.attributes.user.full_name') %>:</b>
            <%= session[:authhash][:name] %><br />
            <b><%= t('activerecord.attributes.user.email') %>:</b>
            <%= session[:authhash][:email] %> <br />
          </p>
        </div>
        <div class="span3">
          <%= render 'signup_form' %>
        </div>
      </div>
    </div>
  <% else %>
    <div class='span5'>
      <p>
        <%=t '.have_account' %>
        <%= link_to t('.login'), new_session_path %>
      </p>
      <%= render 'signup_form' %>
    </div>

    <div class='span7'>
      <p><%=t '.openid_register' %></p>
      <%= render 'identities/identities_list' %>
    </div>
  <% end %>
</div>
