<% unread_messages = current_user.count_unread_messages if current_user %>
<div class="navbar-inner">

  <div class="container">

    <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>

    <%= link_to root_path do %>
      <%= image_tag 'NerdLogo-58px.png', class: 'logo pull-right', title: t('.brand_name') %>
    <% end %>

    <!-- User Buttton -->
    <% unless current_user %>

    <div class="pull-left">
      <ul class="nav">
        <%= active_link_to t('.register'), new_user_path, active: [['users'], ['new', 'create']], :wrap_tag => :li %>
        <%= active_link_to t('.login'), new_session_path, active: [['sessions'], ['new', 'create']], :wrap_tag => :li %>
      </ul>
    </div>

    <% else %>
      <div class="btn-group pull-left">
        <a class="btn dropdown-toggle" data-toggle="dropdown" id="user-menu" href="<%= user_path(current_user) %>">
          <%= image_tag avatar_url(current_user) %>
          <%= truncate current_user.full_name, length: 16 %>
          <% if unread_messages > 0 %>
            <span class="label label-important"><%= unread_messages.to_farsi %></span>
          <% end %>
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">

          <li><%= link_to t('.profile'), user_path(current_user) %></li>

          <li class="divider"></li>

          <% if can? :index, ActivityLog %>
            <li><%= link_to t('.activity_logs'), activity_logs_path %></li>
          <% end %>

          <% if can? :publish, Story %>
            <li><%= link_to t('.unpublished_stories'), unpublished_stories_path %></li>
          <% end %>

          <% if can? :create, Tag %>
            <li><%= link_to t('.tags'), tags_path %></li>
          <% end %>

          <% if can? :index, User %>
            <li><%= link_to t('.users'), users_path %></li>
          <% end %>

          <% if can? :index, Page %>
            <li><%= link_to t('.pages'), pages_path %></li>
          <% end %>

          <% if can? :create, Rating %>
            <li><%= link_to t('.ratings'), ratings_path %></li>
          <% end %>

          <% if can? :create, Message %>
            <li>
              <%= link_to user_messages_path(current_user) do %>
                <%= t('.messages') %>
                <% if unread_messages > 0 %>
                  <span class="label label-important">
                    <%= unread_messages.to_farsi %>
                  </span>
                <% end %>
              <% end %>
            </li>
          <% end %>

            <% if can? :index, Identity %>
              <li><%= link_to t('.identities'), identities_path %></li>
            <% end %>

            <li class="divider"></li>
          <li><%= link_to t('.logout'), session_path, method: :delete,
            data: {confirm: t("helpers.links.confirm")} %></li>
        </ul>
      </div>
    <% end %>

    <!-- Links -->
    <div class="nav-collapse">
      <ul class="nav">
        <%= active_link_to t('.home'), root_path, active: [['stories'], ['index']], :wrap_tag => :li %>

        <% if can? :index, :mypage %>
          <%= active_link_to t('.mypage'), mypage_index_path, active: [['mypage'], ['index']],
            :wrap_tag => :li %>
        <% end %>
        <%= active_link_to t('.new_story'), new_story_path, active: [['stories'], ['new', 'create']],
            :wrap_tag => :li %>
        <% if content_for?(:search) %>
          <%= yield :search %>
        <% else %>
          <%= form_tag stories_path, method: :get, class: "navbar-search pull-left" do %>
            <%= text_field_tag :search, params[:search], class: "span2 search-query",
              placeholder: t(".search") %>
          <% end %>
        <% end %>
      </ul>
      <!-- Social Icons -->
      <ul class='social-icons'>
        <li id="atom">
          <%= link_to stories_path + ".atom", format: "atom" do %>
            <%= image_tag 'social-icons/fc-webicon-rss-m.png' %>
          <% end %>
        </li>
        <li id="github">
          <%= link_to 'https://github.com/jnaqsh/nerdnews' do %>
            <%= image_tag 'social-icons/fc-webicon-github-m.png' %>
          <% end %>
        </li>
        <li id="googleplus">
          <%= link_to 'https://plus.google.com/b/111646924484501471492/111646924484501471492' do %>
            <%= image_tag 'social-icons/fc-webicon-googleplus-m.png' %>
          <% end %>
        </li>
        <li id="twitter">
          <%= link_to 'https://twitter.com/farsi_nerdnews' do %>
            <%= image_tag 'social-icons/fc-webicon-twitter-m.png' %>
          <% end %>
        </li>
        <li id="facebook">
          <%= link_to 'http://www.facebook.com/farsi.nerdnews' do %>
            <%= image_tag 'social-icons/fc-webicon-facebook-m.png' %>
          <% end %>
        </li>
        <li id="faq">
          <%= link_to static_pages_faq_path do %>
            <%= image_tag 'info_32.png' %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
