<%= simple_form_for @page, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :name, input_html: {class: "span9"}  %>
  <%= f.input :permalink, input_html: {class: "span9"} %>
  <%= f.input :content, input_html: {rows: 15, class: "span9", 'data-trigger' => "focus"} %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                pages_path, :class => 'btn' %>
  </div>
<% end %>
