<%- model_class = @page.class -%>
<% content_for :page_header do %>
  <h1><%= @page.name %></h1>
<% end %>

<p><%= @page.content %></p>


<% if (can? :edit, @page) or (can? :destroy, @page) or (can? :index, @page)%>
  <div class="form-actions">
    <% if can? :index, @page %>
      <%= link_to t('.back', :default => t("helpers.links.back")),
                stories_path, :class => 'btn'  %>
    <% end %>
    <% if can? :edit, @page %>
      <%= link_to t('.edit', :default => t("helpers.links.edit")),
                  edit_page_path(@page), :class => 'btn' %>
    <% end %>
    <% if can? :destroy, @page %>
      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                  page_path(@page),
                  :method => 'delete',
                  :data => {:confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?'))},
                  :class => 'btn btn-danger' %>
    <% end %>
  </div>
<% end %>
