<%= form_for @story, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :content, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :content, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :publish_date, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_select :publish_date, :class => 'datetime_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :user_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :user_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :excerpt, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :excerpt, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :slug, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :slug, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                stories_path, :class => 'btn' %>
  </div>
<% end %>
