<%= simple_form_for @story, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :title,
              input_html: {class: "span6"},
              placeholder: t('.title_placeholder')
              %>
  <%= f.input :source,
              input_html: {class: "span6"},
              placeholder: t('.source_placeholder')
              %>
  <%= f.input :content,
              input_html: {rows: 15, class: "span6", 'data-trigger' => "focus"},
              placeholder: t('.content_placeholder')%>

  <%= f.input :tag_names, input_html: {data: {tags: @story.tags}, class: "span6", value: ' '} %>

  <%#= f.association :tags, collection: [], input_html: {data: {tags: @story.tags}, class: "span6", multiple: ' '} %>

  <%= textcaptcha_fields(f) do %>
    <%= f.input :spam_answer, placeholder: @story.spam_question,
              input_html: {class: "span6"} %>
  <% end %>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= f.submit t('.preview', :default => t("helpers.links.preview")), :class => 'btn btn-primary', name: "preview_button" %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                stories_path, :class => 'btn' %>
  </div>
<% end %>
