<%= simple_form_for @story, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :title, input_html: {class: "span6"} %>
  <%= f.input :content, input_html: {rows: 15, class: "span6"} %>
  <%= f.input :tag_names, input_html: {data: {load: @story.tags}}  %>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= f.submit t('.preview', :default => t("helpers.links.preview")), :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                stories_path, :class => 'btn' %>
  </div>
<% end %>
