<%= simple_form_for @story, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :title, 
              input_html: {class: "span6"},
              placeholder: "عنوان حداقل باید ۱۰ کاراکتر و حداکثر می‌تواند ۱۰۰ کاراکتر باشد"
              %>
  <div class= 'row'>
    <div class='span1' style="width: 130px">s</div>
    <div class="span6 well well-small story-hint">
      <p>
      <i class="icon-info-sign"></i>
      <b>پُررنگ کردن:</b> *پُررنگ* -
      <b>مورب:</b> _متن مورب_ -
      <b>لینک دادن:</b> "لینک":http://todo</p>
    </div>
  </div>
  <%= f.input :content, 
              input_html: {rows: 15, class: "span6"},
              placeholder: "بدنه اصلی خبر خود را اینجا بنویسید. لطفا سعی کنید از کلمات خود استفاده کنید. اگر از منابع دیگر نقل‌وقول می‌کنید، آدرس‌های مرتبط را در متن وارد کنید. اگر از منبع اصلی خبر مطمئن هستید آنها را در متن بگنجانید. متن خبر می‌تواند حداکثر ۱۰۰۰ کاراکتر باشد."
              %>
  <%= f.input :tag_names, input_html: {data: {load: @story.tags}}  %>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= f.submit t('.preview', :default => t("helpers.links.preview")), :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                stories_path, :class => 'btn' %>
  </div>
<% end %>
