<% if story.id && !params[:preview_button] %>
  <div class='row'>
    <% if can? :create, Vote %>
      <div id='voting-buttons-<%= story.id %>' class='span1 btn-group pull-right' >

        <%= render 'stories/voting_buttons', story: story %>

      </div>
      <div class='span5 thumbs-up-list' id='thumbs-up-list-<%= story.id %>'>
        <ul>
          <% Rating.positive('stories').each do |rating| %>
            <li class='icon-hand-left'>
              <%= link_to rating.name, story_votes_path(story, rating_id: rating, positive: true),
                method: :post, remote: true %>
            </li>
          <% end %>
        </ul>
      </div>
      <div class='span5 thumbs-down-list' id='thumbs-down-list-<%= story.id %>'>
        <ul>
          <% Rating.negative('stories').each do |rating| %>
            <li class='icon-hand-left'>
              <%= link_to rating.name, story_votes_path(story, rating_id: rating), method: :post, remote: true %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class='pull-left story_operation'>
      <% if (can? :update, story) && (!story.published? or current_user.role? "founder") %>
        <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_story_path(story), :class => 'btn btn-mini' %>
      <% end %>
      <% if (can? :destroy, story) && (!story.published? or current_user.role? "founder") %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      story_path(story),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger'
                       %>
      <% end %>
      <% if (can? :publish, story) && !story.published? %>
        <%= link_to t('.publish', default: t('helpers.links.publish')), publish_story_path(story),
            class: "btn btn-mini btn-primary", method: :put %>
      <% end %>
    </div>
  </div>
<% end %>
