<article>
  <h2><%= link_to story.title, story %></h2>
  <h5>
    <p>
    توسط
    <% if story.user %>
      <%= link_to story.user.full_name, user_path(story.user) %>
    <% else %>
      <%= t('.anonymous_user') %>
    <% end %>
    در <%= if story.publish_date then to_jalali(story.publish_date) end %>
    </p>
  </h5>
  <p><%= sanitize(RedCloth.new(story.content, [:filter_html, :filter_styles]).to_html) %></p>
  <div>
    <% if can? :update, story %>
      <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_story_path(story), :class => 'btn btn-mini' %>
    <% end %>
    <% if can? :destroy, story %>
        <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                    story_path(story),
                    :method => :delete,
                    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                    :class => 'btn btn-mini btn-danger'
                     %>
    <% end %>
    <div class="btn-group pull-left">
      <%= link_to story_path(story), :class => "btn btn-primary btn-mini" do %>
        <i class="icon-comment icon-white"></i> <%= t('stories.show.comments') %>
        <%= link_to story.comments_count.to_farsi, story_path(story), :class => "btn btn-primary btn-mini" %>
      <% end %>      
    </div>
    <br />
  </div>
</article>
<hr />
