<article>
  <% if story.tags.first != nil %>
    <%= image_tag story.tags.first.thumbnail.url(:thumb), class: 'img-polaroid pull-left' %>
  <% end %>
  <h2><%= link_to story.title, story %></h2>
  <h6 class="muted">
    <small>
      توسط
      <%= user_name(story) %>
      در
      <%= to_jalali(story.publish_date) if story.publish_date %>
    </small>
  </h6>
  <%= user_name(story) %>
  می‌نویسد:
  <blockquote>
    <%= sanitize(RedCloth.new(story.content, [:filter_html, :filter_styles]).to_html) %>
  </blockquote>

  <%= render partial: "story_operation", locals: {story: story} %>
</article>
<hr />
