<% if turnoff_voting_button?(story) %>
  <span class='btn btn-success disabled'>
    <%= story.positive_votes_count.to_farsi %>
    <i class='fa fa-thumbs-o-up'></i>
  </span>
  <span class='btn btn-danger disabled'>
    <i class='fa fa-thumbs-o-down'></i>
    <%= story.negative_votes_count.to_farsi %>
  </span>
<% else %>
  <button class="btn btn-success btn-thumbs-up" data-id='<%= story.id %>'><%= story.positive_votes_count.to_farsi %> <i class='fa fa-thumbs-o-up'></i></button>
  <button class="btn btn-danger btn-thumbs-down" data-id='<%= story.id %>'><i class='fa fa-thumbs-o-down'></i> <%= story.negative_votes_count.to_farsi %></button>
<% end %>
