<% set_meta_tags title: [t('stories.title'), t('.title')],
                 description: 'نردنیوز شبکه اجتماعی خبر برای افراد گیک فناوری است',
                 keywords: 'اخبار, صفحه اصلی, فناوری,گیک,خوره,نرد,نردنیوز,شبکه اجتماعی خبر',
                 canonical: root_url %>

<%- model_class = Story.new.class -%>
<% content_for :head, auto_discovery_link_tag(:atom, stories_url(:format => "atom")) %>
<% content_for :page_header do %>
    <h1>
      <%=t '.title', :default => model_class.model_name.human.pluralize %>
      <% if can? :create, Story %>
        <%= link_to t('.new', :default => t("helpers.links.new")),
                  new_story_path,
                  :class => 'hidden-phone btn btn-large btn-success pull-left' %>
      <% end %>
    </h1>
<% end %>

<div class="alert alert-info" id="show_stories" style="display: none">
  خبرهای جدیدی منتشر گردیده‌است - <a href="#">کلیک کنید تا آن‌ها را ببینید</a>
</div>

<%= content_tag :div, id: "stories", data: {url: recent_stories_url(format: :js)} do %>
  <%= (render @stories) || "خبر مورد نظر پیدا نشد" %>
<% end %>

<%= paginate @stories %>
