<%- model_class = @story.class -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<%= render :partial => "stories/story", :object => @story %>

<div class="comments">
  <h2><%= t('.comments') %></h2>
  <%= render(@comments) || t('.no_comments') %>

  <% if can? :create, Comment %>
    <%= render "comments/form" %>
  <% end %>
</div>
