<% set_meta_tags title: [t('stories.title'), @story.title],
                 description: sanitize(RedCloth.new(@story.content, [:filter_html, :filter_styles]).to_plain).truncate(160),
                 keywords: @story.tags.map { |tag| tag.name },
                 canonical: story_url(@story),
                 open_graph: {
                    title: "#{@story.title}",
                    type: 'news',
                    url: "#{story_url(@story)}",
                    image: thumbnail_url(@story) } %>

<%- model_class = @story.class -%>
<% content_for :page_header do %>
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
<% end %>

<%= render @story %>

<div class="comments span8 offset2">

  <% if can? :create, Comment %>
    <%= render "comments/form" %>
  <% end %>

  <div id='comments-container'>
    <h2><%= t('.comments') %></h2>
    <%= (nested_comments @comments) || t('.no_comments') %>
  </div>
</div>
