<% set_meta_tags  title: t('.title'),
                  description: 'تگ‌ها' %>
<%- model_class = Tag.new.class -%>
<% content_for :page_header do %>
    <h1>
      <%=t '.title', default: model_class.model_name.human %>
      <% if can? :create, Tag %>
        <%= link_to t('.new', :default => t("helpers.links.new")), new_tag_path,
          class: 'btn btn-large btn-success pull-left' %>
      <% end %>
    </h1>
<% end %>

<div class = 'row'>
  <div class='span2'>
    <%= form_tag tags_path, remote: true, method: :get, class: 'form-search' do %>
      <div class='row'>
        <%= text_field_tag :tag_search, params[:tag_search], class: "span2 search-query", placeholder: t(".search") %>
      </div>
    <% end %>
  </div>
</div>

<div class='row'>
  <div class='span12'>
    <ul class="thumbnails" id="tags-list">
      <%= render(@tags) %>
    </ul>
  </div>
</div>

<%= paginate @tags %>
