<!DOCTYPE html>
<html>

  <%= render 'shared/head' %>

  <%= body do %>

    <div class="navbar navbar-fixed-top">
      <%= render partial: 'shared/header' %>
    </div>

    <%= render partial: 'shared/loading_indicator' %>

    <div class='container'>
      <%= render partial: 'shared/flash', locals: { flash: flash } %>
    </div>

    <% if content_for? :page_header %>
      <div class="page-header">
        <div class="container">
          <%= yield :page_header %>
        </div>
      </div>
    <% end %>

    <div class="container">
      <%= yield %>
    </div>

  <% end %>
</html>
