<!DOCTYPE html>
<html>

  <%= render 'shared/head' %>

  <body>

    <div class="navbar navbar-fixed-top">
    <%= render partial: 'shared/header' %>
    </div>

    <%= render partial: 'shared/loading_indicator' %>

    <div class="container">

      <%= render partial: 'shared/flash', locals: { flash: flash } %>

      <%- model_class = @user.class -%>

      <div class='row'>
        <div class='span3'>
          <div class="avatar text-center">
            <%= image_tag avatar_url(@user, 256), class: 'img-polaroid' %>
            <% if can? :update, @user %>
              <%= link_to t(".change-avatar"), "http://gravatar.com/", target: "_blank", class: "text-center" %>
            <% end %>
          </div>
          <div class='user info'>

            <div class='user user-name'>
              <p><strong><%= @user.full_name %></strong></p>
            </div>

            <div class='user user-assets'>
              <p><i class="icon-user"></i>
              <%= t('.registered_from') + time_ago_in_words(@user.created_at) + ' قبل'%></p>
              <p><i class="icon-th"></i>
              <%=t '.website', website: @user.website || t('.not_mentioned') %></p>
              <% if @user.email_visibility? %>
                <p><i class="icon-envelope"></i>
                <%= mail_to @user.email, nil, :replace_at => ' at ', replace_dot: ' dot ', encode: 'hex' %></p>
              <% end %>
              <p><i class='icon-user-md'></i>
              <%= t('.role', role: @user.roles[0].to_persian) %></p>
            </div>
            <% if can? :edit, @user %>
              <div class='user user-edit-button'>
                <%= link_to t('.edit'), edit_user_path(@user), class: 'btn btn-block' %>
              </div>
            <% end %>

            <div class='row'>
              <ul class='user user-rates'>
                <li class='span1 well well-small'>
                  <span class='digit'><%= @user.user_rate.to_farsi %></span>
                  <span><%=t '.karma' %></span>
                </li>
                <li class='span1 well well-small'>
                  <span class='digit'><%= @user.stories.approved.count.to_farsi %></span>
                  <span><%=t '.posts' %></span>
                </li>
                <li class='span1 well well-small'>
                  <span class='digit'><%= @user.comments.count.to_farsi %></span>
                  <span><%=t '.comments' %></span>
                </li>
              </ul>
            </div>
            <div class='user user-tags tags-holder'>
              <p><%=t '.favorite_tags' %></p>
              <% unless @user.favorite_tags.blank? %>
                <% @user.favored_tags.to_a.each do |tag| %>
                  <%= link_to stories_path(tag: tag) do %>
                    <span class='label'><%= tag %></span>
                  <% end %>
                <% end %>
              <% else %>
                <% if can? :edit, @user %>
                  <div class='well well-small'>
                  <%=t '.add_favorite_tags' %>
                  </div>
                <% else %>
                  <div class='well well-small'>
                  <%= t('.no_favorite_tags', user: @user.full_name) %>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>

        <div class='span9'>
          <ul class="nav nav-tabs">
            <%= active_link_to t('.posts'), posts_user_path(@user), active: [['users'], ['show', 'posts']], :wrap_tag => :li, remote: true, id: 'posts_li' %>

            <%= active_link_to t('.comments'), comments_user_path(@user), active: [['users'], ['comments']], :wrap_tag => :li, remote: true, id: 'comments_li' %>

            <%= active_link_to t('.favorites'), favorites_user_path(@user), active: [['users'], ['favorites']], :wrap_tag => :li, remote: true, id: 'favorites_li' %>

            <% if (can? :create, Message) && (@user != current_user) %>
              <%= active_link_to t('.send_message'), new_user_message_path(@user),
                active: [['messages'], ['new', 'create']], :wrap_tag => :li,
                remote: true, id: 'send_message' %>
            <% end %>

            <% if can? :index, @user.received_messages.build %>
              <%= active_link_to t('.messages'), user_messages_path(@user),
                active: [['messages'], ['index']], :wrap_tag => :li,
                remote: true, id: 'messages' %>
            <% end %>

            <% if can? :activity_logs, @user %>
              <%= active_link_to t('.activity_logs'), activity_logs_user_path(@user),
                active: [['users'], ['activity_logs']], :wrap_tag => :li,
                remote: true, id: 'activity_logs_li' %>
            <% end %>
          </ul>
            <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
